@layer base {
  :root {
    --background: 219 100% 100%;
    --foreground: 219 5% 10%;
    --card: 219 50% 100%;
    --card-foreground: 219 5% 15%;
    --popover: 219 100% 100%;
    --popover-foreground: 219 100% 10%;
    --primary: 219 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 30% 98%;
    --secondary-foreground: 0 0% 0%;
    --muted: 181 30% 95%;
    --muted-foreground: 219 5% 40%;
    --accent: 181 30% 90%;
    --accent-foreground: 219 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 219 5% 100%;
    --border: 219 30% 82%;
    --input: 219 30% 50%;
    --ring: 219 100% 40%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 219 50% 10%;
    --foreground: 219 5% 100%;
    --card: 219 50% 10%;
    --card-foreground: 219 5% 100%;
    --popover: 219 50% 5%;
    --popover-foreground: 219 5% 100%;
    --primary: 219 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 181 30% 25%;
    --muted-foreground: 219 5% 65%;
    --accent: 181 30% 25%;
    --accent-foreground: 219 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 219 5% 100%;
    --border: 219 30% 50%;
    --input: 219 30% 50%;
    --ring: 219 100% 40%;
    --radius: 0.5rem;
  }
}
